*.*
*
*.o
*.cmd
*.ko
*.mod
*.mod.c
.vscode_backup/
!*/
!/.vscode/*
!/app_pcie/include/*
!/app_pcie/sources/*
!/app_pcie/Makefile
!/app_pcie/test.txt
!/doc/*
!/driver/*.h
!/driver/pango_pci_driver.c
!/driver/Makefile
!README.md
!.gitignore
!run.sh

